@if (open()) {
  <div class="modal-backdrop" (click)="closed.emit()"></div>
  <div
    #dialog
    class="modal"
    role="dialog"
    aria-modal="true"
    [attr.aria-labelledby]="testid() + '-title'"
    [attr.data-testid]="testid()"
    tabindex="-1"
  >
    <div class="modal__head">
      <h3 [id]="testid() + '-title'" style="margin: 0">{{ title() }}</h3>
      <button
        type="button"
        class="btn btn--sm btn--ghost"
        aria-label="Close"
        [attr.data-testid]="testid() + '-close'"
        (click)="closed.emit()"
      >
        ✕
      </button>
    </div>

    <div class="modal__body">
      <ng-content select="[modal-body]" />
    </div>

    @if (withFoot()) {
      <div class="modal__foot">
        <ng-content select="[modal-foot]" />
      </div>
    }
  </div>
}
